* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
	max-width: 880px; 
	margin-top: 144px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.25rem; 
	margin-bottom: 64px;
}

main {
	border-top: solid 7px hsl(0deg, 0%, 40%);
	background-color: hsl(0deg, 0%, 60%);
	font-size: 1.25rem;
	padding-top: 88px; 
}

h1 {
	font-size: 2rem; 
	margin-bottom: 64px;
}

h2 {
	background-color: hsl(45deg, 100%, 50%);
	border-bottom: solid 2px hsl(45deg, 100%, 40%);
	width: 428px;
	margin-top: 0;
}



strong {
	color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.intro-chunk {
	max-width: 400px;
	padding-left: 32px;
	font-size: 1.5rem; 
	line-height: 1.5;
}

.card {
	max-width: 720px; 
	background-color: hsl(0deg, 0%, 100%);
	border-bottom: solid 7px hsl(0deg, 0%, 30%);
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 0px;
}